# Virtual env
.venv/


# Large dataset
Datasets/

# Python cache
__pycache__/
*.pyc

# Notebook checkpoints
.ipynb_checkpoints/

# Env
.env

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Model artifacts
*.pkl
*.joblib
*.h5
*.hdf5
*.pt
*.pth
*.onnx
*.sav

# Local HF model mirror/cache
.hf_disease_model_repo/
